<h1 class="display-4 text-center my-4 text-primary font-weight-bold">
  <%= @constituency.name %>
</h1>

<div class="row mb-4">
  <div class="col-md-6 mx-auto">
    <p class="lead"><strong>Region:</strong> <%= @constituency.region %></p>
  </div>
</div>

<div class="d-flex justify-content-center gap-3">
  <%= link_to 'Back to Constituencies', constituencies_path, class: 'btn btn-outline-secondary btn-lg' %>
  <%= link_to 'Edit', edit_constituency_path(@constituency), class: 'btn btn-outline-primary btn-lg' %>
</div>
